<!DOCTYPE html>                                                                                            
  <html>                                                                                                     
    <head>                                                                                                   
      <title><%= title %></title>                                                                            
      <link rel='stylesheet' href='/stylesheets/style.css' />                                                
    </head>                                                                                                  
    <body>                                                                                                   
      <h1><%= title %></h1>                                                                                  
      <p>Welcome to <%= title %></p>
      <ul>
	  	<% users.forEach(function(user) { %>
	   	      <li><%= user.lastName %>, <%= user.firstName %></li>
	  	<% }); %>                                                                          
	  </ul>
   </body>                                                                                                  
</html>